.payments {
  padding: 80px 0px 100px 0px;
  @include laptop-min {
    padding: 60px 0px;
  }
  @include tablet {
    padding-top: 32px;
  }

  &__body {
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
  }
  &__title {
    @include tablet {
      font-size: 26px;
      letter-spacing: 1.04px;
    }
  }
  &__balance-wrapper {
    @include flex-center;
    margin-bottom: 40px;
    flex-direction: column;
    padding: 30px 15px;
    border-radius: 16px;
    border: 1px solid white;
  }
  &__input-radio {
    &:checked + label {
      form {
        display: flex !important;
      }
    }
  }
  &__mode-btn {
    display: block;
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &::after {
      top: 8px;
      @include tablet {
        top: 6px;
      }
    }

    .input-control {
      height: auto;
      width: 345px;
      @include tablet {
        width: 260px;
      }
      @include tablet-min {
        width: calc(50% - 5px);
      }
    }
    .input {
      height: 100%;
      border: none;
      text-align: end;
    }
    .button {
      @include tablet {
        flex: 1;
      }
    }
  }

  &__orders-money {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__orders-card {
    padding: 24px;
    border-radius: 16px;
    border: 1px solid white;
  }
  &__more-btn {
    margin: 56px auto 0px auto;
    @include tablet {
      margin-top: 16px;
    }
    @include mobile {
      width: 100%;
    }
  }
  &__transactions {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__transaction {
    @include flex-between;
    gap: 15px;
    padding: 29px 24px;
    border-radius: 16px;
    border: 1px solid white;
    @include mobile {
      align-items: start;
      padding: 24px;
    }

    .text {
      @include tablet {
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0.8px;
      }
    }
  }
}
