.template {
  padding: 40px 0px 60px 0px;
  @include tablet {
    overflow: hidden;
  }
  &__wrapper {
    display: flex;
    align-items: start;
    gap: 40px;
    margin-top: 60px;
    @include laptop-min {
      gap: 32px;
    }
    @include tablet {
      margin-top: 50px;
      flex-wrap: wrap;
    }
  }
  &__settings {
    width: calc(50% - 20px);
    @include tablet {
      width: 100%;
    }
  }
  &__settings-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 24px;
    @include tablet {
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.8px;
    }
  }
  &__settings-block {
    margin-bottom: 40px;
  }
  &__previews {
    @include tablet {
      overflow: visible !important;
    }
  }
  &__preview-btn {
    cursor: pointer;
    width: 160px !important;
    height: 90px !important;
    border-radius: 2px;
    overflow: hidden;

    @include hover {
      &::before {
        border-color: var(--yellow);
      }
    }
    &._active {
      cursor: auto;
      &::before {
        border-width: 6px;
        border-color: var(--yellow);
      }
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      border: 1px solid white;
      border-radius: 2px;
      transition: border-color 0.2s ease;
    }
  }
  &__video-wrapper {
    width: 100%;
    height: 315px;
    @include laptop-middle {
      height: 255px;
    }
    @include laptop-min {
      height: 240px;
    }
    @include tablet {
      height: 315px;
    }
    @include tablet {
      height: auto;
      min-height: 210px;
    }
  }
  &__qr {
    position: absolute;
    width: 80px;
    @include laptop-min {
      width: 54px;
    }

    &._top-right {
      top: 16px;
      right: 16px;
    }
    &._bottom-right {
      bottom: 16px;
      right: 16px;
    }
    &._bottom-left {
      left: 16px;
      bottom: 16px;
    }
    &._top-left {
      left: 16px;
      top: 16px;
    }
  }
  &__dj {
    position: absolute;
    width: 75px;
    @include laptop-min {
      width: 54px;
    }

    &._top-right {
      top: 16px;
      right: 16px;
    }
    &._bottom-right {
      bottom: 16px;
      right: 16px;
    }
    &._bottom-left {
      left: 16px;
      bottom: 16px;
    }
    &._top-left {
      left: 16px;
      top: 16px;
    }
    &._center {
      left: 50%;
      top: 50%;
      transform: translateX(-50%, -50%);
    }
  }
  &__orders {
    --offset: 16px;

    position: absolute;
    padding: 16px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    max-width: 175px;
    overflow-y: auto;
    z-index: 10;
    @include laptop {
      max-width: 160px;
    }
    @include laptop-min {
      padding: 10px;
      max-width: 125px;
    }
    @include tablet {
      max-width: 175px;
    }
    @include mobile {
      --offset: 8px;
      max-width: 115px;
      padding: 8px;
    }

    &._left {
      left: var(--offset);
      top: var(--offset);
      bottom: var(--offset);
    }
    &._right {
      right: var(--offset);
      top: var(--offset);
      bottom: var(--offset);
    }
    &._bottom {
      left: 0;
      right: 0;
      padding-top: 8px;
      padding-bottom: 8px;
      bottom: 0;
      max-width: none;

      .template__orders-list {
        flex-direction: row;
        gap: 20px;
      }
    }
    &._top {
      left: 0;
      right: 0;
      top: 0;
      max-width: none;
      padding-top: 8px;
      padding-bottom: 8px;

      .template__orders-list {
        flex-direction: row;
        gap: 20px;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__orders-title {
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    color: var(--yellow);
    margin-bottom: 12px;
    @include laptop-middle {
      font-size: 12px;
      line-height: normal;
    }
    @include tablet {
      font-size: 14px;
      line-height: 20px;
    }
    @include tablet-min {
      font-size: 10px;
      line-height: 12px;
    }
  }
  &__orders-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: decimal;
    padding-left: 16px;

    li {
      font-size: 14px;
      font-weight: 800;
      line-height: 20px;
      @include laptop-middle {
        font-size: 12px;
        line-height: normal;
      }
      @include tablet {
        font-size: 14px;
        line-height: 20px;
      }
      @include tablet-min {
        font-size: 10px;
        line-height: 12px;
      }

      span {
        font-weight: 500;
      }
    }
  }

  &__preview {
    position: sticky;
    top: 100px;
    flex: 1;

    @include laptop-min {
      position: static;
    }
  }
}
