@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

._a-rotating {
  animation: rotate 2s linear infinite; /* 2 секунды, линейно, бесконечно */
}