.w-fit {
  width: fit-content !important;
}
.w-md-full {
  @include tablet {
    width: 100% !important;
  }
}
.w-mob-full {
  @include tablet-min {
    width: 100% !important;
  }
}
.min-w-200 {
  min-width: 200px !important;
}

// margin



// colors

.text-cian {
  color: var(--cian);
}
.text-magenta {
  color: var(--magenta);
}
.text-red {
  color: var(--red);
}
.text-robin {
  color: var(--robin);
}
.text-yellow {
  color: var(--yellow);
}
.text-gray {
  color: var(--gray);
}
.text-tg {
  color: var(--tg);
}

.border-red {
  border-color: var(--red) !important;
}
.border-cian {
  border-color: var(--cian) !important;
}

.bg-yellow {
  background-color: var(--yellow) !important;
}

// cursor
.pointer {
  cursor: pointer;
}

// fonts

.unbounded {
  font-family: "Unbounded", sans-serif;
}

.unbounded-md {
  @include tablet {
    font-family: "Unbounded", sans-serif;
  }
}

.text-shadow {
  text-shadow: 6px 6px 0px black;
  color: var(--magenta);
  @include laptop-min {
    text-shadow: 4px 4px 0px black;
  }
}

// media
@media (min-width: 992px) {
  .w-lg-fit {
    width: fit-content !important;
  }
  .text-lg-nowrap {
    white-space: nowrap !important;
  }
}