.w-fit {
  width: fit-content !important;
}

// colors

.text-cian {
  color: var(--cian);
}
.text-magenta {
  color: var(--magenta);
}
.text-red {
  color: var(--red);
}
.text-robin {
  color: var(--robin);
}

// cursor
.pointer {
  cursor: pointer;
}