<section class="get-orders">
  
  <img src="@img/hypnosis.png" alt="background" class="get-orders__bg position-absolute">
  <img src="@img/dj-women.png" alt="image" class="get-orders__dj position-absolute">
  
  <div class="container">
    <div class="get-orders__head text-center d-flex flex-column mx-auto">
      
      <img src="@img/omg.png" alt="icon" class="stirring-el get-orders__omg position-absolute">
      <img src="@img/star.svg" alt="" class="stirring-el get-orders__star position-absolute">
      <img src="@img/disko-circle.png" alt="icon" class="stirring-el get-orders__circle position-absolute">
      <img src="@img/disk-y.png" alt="icon" class="stirring-el get-orders__disk position-absolute">
      <img src="@img/start-y.svg" alt="icon" class="stirring-el get-orders__star-y position-absolute">
      <img src="@img/smile.png" alt="icon" class="stirring-el get-orders__smile position-absolute">
      <picture class="stirring-el get-orders__tg position-absolute">
        <source srcset="@img/tg-white.png" media="(max-width: 768px)">
        <img src="@img/tg.png" alt="icon">
      </picture>

      <h2 class="title s-title mb-2">
        Получайте заказы на песни в одном месте.
      </h2>
      <p class="text mb-4">
        Мы соберем все пожелания в <a href="#" target="_blank">Telegram-бота,</a> <br> подтверждайте заявки и берите
        в работу или отклоняйте - решать вам.
      </p>
      <a href="#" class="button _blue mx-auto">Начать бесплатно</a>
    </div>
  </div>
</section>
