<header class="header _white">
  <div
    class="container d-flex lg:row lg:gap-3 align-items-center justify-content-between"
  >
    <div class="header__logo-wrapper col-xl-4">
      <a href="/" class="header__logo">
        <img
          src="@img/disk.svg"
          alt="image"
          class="header__logo-disk _a-rotating"
        />
        <div>Поставь<span>мой</span>трек</div>
      </a>
    </div>
    <ul class="list col-xl-4 header__list">
      <li><a href="#" class="text-magenta">Заказы</a></li>
      <li><a href="#">Экран</a></li>
      <li><a href="#">Платежи и баланс</a></li>
    </ul>
    <div
      class="d-none d-lg-flex align-items-center justify-content-end gap-4 col-xl-4"
    >
      <div class="dropdown">
        <div
          class="header__profile d-flex align-items-center"
          data-bs-toggle="dropdown"
        >
          <svg class="header__profile-icon me-3">
            <use xlink:href="img/icons/icons.svg#icon-user"></use>
          </svg>
          <span class="me-2">DJ Koreshok</span>
          <svg class="header__profile-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <div class="dropdown-menu header__profile-dropdown">
          <ul class="list header__profile-list">
            <li><a href="#">Страница заказа</a></li>
            <li><a href="#">Мой профиль</a></li>
          </ul>
          <button href="#" class="button _min _white _outline">Выход</button>
        </div>
      </div>
    </div>
    <button class="btn-reset header__burger-btn" id="burger-btn">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</header>

<div class="burger pt-4 _black" id="burger">
  <div class="d-flex flex-column h-100">
    <div class="container flex-fill">
      <ul class="list d-flex flex-column gap-3 burger__list mb-4">
        <li><a href="#" class="text-magenta">Заказы</a></li>
        <li><a href="#">Экран</a></li>
        <li><a href="#">Платежи и баланс</a></li>
      </ul>
      <div class="burger__line"></div>
      <ul class="list d-flex flex-column gap-3 burger__list mb-4">
        <li><a href="#">Страница заказа</a></li>
        <li><a href="#">Мой профиль</a></li>
      </ul>
    </div>
    <div class="burger__footer">
      <div class="d-flex align-items-center justify-content-center gap-3 mb-5">
        <img src="@img/sbp.svg" alt="icon">
        <img src="@img/tpay.svg" alt="icon">
        <img src="@img/a-pay.svg" alt="icon">
        <img src="@img/s-pay.svg" alt="icon">
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <a href="#" class="burger__profile">
          <svg class="burger__profile-icon">
            <use xlink:href="img/icons/icons.svg#icon-user"></use>
          </svg>
          <span>DJ Koreshok</span>
        </a>
        <button class="button _white _outline">Выйти</button>
      </div>
    </div>
  </div>
</div>
