<header class="header">
  <div class="container d-flex lg:row lg:gap-3 align-items-center justify-content-between">
    <div class="header__logo-wrapper col-xl-4">
      <a href="/" class="header__logo">
        <img src="@img/disk.svg" alt="image" class="header__logo-disk _a-rotating" />
        <div>Поставь<span>мой</span>трек</div>
      </a>
    </div>
    <ul class="list col-xl-4 header__list">
      <li><a href="#">Получайте заказы</a></li>
      <li><a href="#">Онлайн оплата</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
    <div class="d-none d-lg-flex align-items-center justify-content-end gap-4 col-xl-4">
      <a href="#" class="header__btn-reg">Регистрация</a>
      <a href="#" class="button header__btn-login _min _white _outline">Вход</a>
    </div>
    <button class="btn-reset header__burger-btn" id="burger-btn">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</header>

<div class="burger pt-4" id="burger">
  <div class="container d-flex flex-column h-100">
    <ul class="list d-flex flex-column gap-3 burger__list mb-4 flex-fill">
      <li><a href="#">Получайте заказы</a></li>
      <li><a href="#">Онлайн оплата</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
    <div class="d-flex align-items-center justify-content-center gap-3 mb-4">
      <a href="#">
        <img src="@img/sbp.svg" alt="icon">
      </a>
      <a href="#">
        <img src="@img/tpay.svg" alt="icon">
      </a>
      <a href="#">
        <img src="@img/a-pay.svg" alt="icon">
      </a>
      <a href="#">
        <img src="@img/s-pay.svg" alt="icon">
      </a>
    </div>
    <div class="burger__buttons">
      <a href="#" class="button burger__btn mb-3">Зарегистрироваться</a>
      <a href="#" class="button burger__btn _outline _white">Зарегистрироваться</a>
    </div>
  </div>
</div>