<header class="header _white">
  <div
    class="container d-flex lg:row lg:gap-3 align-items-center justify-content-between"
  >
    <div class="header__logo-wrapper col-xl-4">
      <a href="/" class="header__logo">
        <img
          src="@img/disk.svg"
          alt="image"
          class="header__logo-disk _a-rotating"
        />
        <div>Поставь<span>мой</span>трек</div>
      </a>
    </div>
    <ul class="list col-xl-4 header__list">
      <li><a href="#">Получайте заказы</a></li>
      <li><a href="#">Онлайн оплата</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
    <div
      class="d-none d-lg-flex align-items-center justify-content-end gap-4 col-xl-4"
    >
      <div class="dropdown">
        <div class="header__profile d-flex align-items-center" id="dropdown-profile" data-toggle="dropdown">
          <svg class="header__profile-icon me-3">
            <use xlink:href='img/icons/icons.svg#icon-user'></use>
          </svg>
          <span class="me-2">DJ Koreshok</span>
          <svg class="header__profile-arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdown-profile">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
</header>
