<section class="online-pay s-baza">
  <div class="container">
    <div class="online-pay__body text-center mx-auto mb-4">
      <h2 class="title s-title mb-2">Онлайн платежи</h2>
      <p class="text">
        Гости оплачивают заявки любым удобным способом (Карта, СБП, SberPay,
        T-Pay, Alfa Pay), все заявки зачисляются на ваш персональный баланс, с
        которого вы можете вывести полученные средства в любое удобное для вас
        время.
      </p>
    </div>
    <div class="online-pay__logos">
      <img src="@img/sbp.svg" alt="icon" class="online-pay__logo">
      <img src="@img/tpay.svg" alt="icon" class="online-pay__logo">
      <img src="@img/a-pay.svg" alt="icon" class="online-pay__logo">
      <img src="@img/s-pay.svg" alt="icon" class="online-pay__logo">
    </div>
  </div>
  <img src="@img/recorder-mobile.png" alt="icon" class="stirring-el online-pay__recorder position-absolute">
  <img src="@img/arm-card.png" alt="icon" class="online-pay__arm position-absolute">
</section>
