<section class="orders">
  <div class="container">
    <h1 class="title s-title mb-4 orders__title">Заказы</h1>
    <div class="orders__head">
      <div class="d-flex align-items-center justify-content-between justify-content-sm-start gap-4 flex-row-reverse flex-sm-row orders__toggle-wrapper">
        <div class="toggle _active"></div>
        <span class="orders__toggle-title">Приём заказов</span>
      </div>
      <div class="orders__fix-price">
        <a href="#">Фиксированная стоимость</a>
        <svg>
          <use xlink:href='img/icons/icons.svg#icon-pen'></use>
        </svg>
      </div>
    </div>
  </div>
</section>