<section class="orders">
  <div class="container">
    <h1 class="title s-title mb-4 orders__title">Заказы</h1>
    <div class="orders__head">
      <div
        class="d-flex align-items-center justify-content-between justify-content-sm-start gap-4 flex-row-reverse flex-sm-row orders__toggle-wrapper"
      >
        <div class="toggle _active"></div>
        <span class="orders__toggle-title">Приём заказов</span>
      </div>
      <a href="#" class="orders__fix-price">
        <div>Бесплатно</div>
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-pen"></use>
        </svg>
      </a>
    </div>
    <ul class="list nav-links mb-5 _scrollable">
      <li>
        <a href="#" class="nav-links__btn _active">Очередь заказов</a>
      </li>
      <li>
        <a href="#" class="nav-links__btn">Исполнены</a>
      </li>
      <li>
        <a href="#" class="nav-links__btn">Отклонены</a>
      </li>
    </ul>
    <div class="d-flex flex-column gap-3">
      <div class="orders__card">
        <span class="orders__card-num">1.</span>
        <div class="d-flex align-items-center gap-3 orders__date-time">
          <span>28.01.2025</span>
          <span>22:02</span>
        </div>
        <div class="orders__card-title flex-fill">
          Худи – Джиган, Artik & Asti, NILETTO
        </div>
        <div
          class="d-flex align-items-center gap-3 gap-lg-4 flex-wrap justify-content-lg-start justify-content-between flex-lg-nowrap orders__card-right"
        >
          <div class="orders__status order-3 order-lg-2">Исполнено</div>
          <button class="btn-reset orders__reject order-lg-3 order-2">
            Отклонить
          </button>
        </div>
      </div>
      <div class="orders__card">
        <span class="orders__card-num">2.</span>
        <div class="d-flex align-items-center gap-3 orders__date-time">
          <span>28.01.2025</span>
          <span>22:02</span>
        </div>
        <div class="orders__card-title flex-fill">
          Худи – Джиган, Artik & Asti, NILETTO
        </div>
        <div
          class="d-flex align-items-center gap-3 gap-lg-4 flex-wrap justify-content-lg-start justify-content-between flex-lg-nowrap orders__card-right"
        >
          <div class="orders__status order-3 order-lg-2">Исполнено</div>
          <button class="btn-reset orders__reject order-lg-3 order-2">
            Отклонить
          </button>
        </div>
      </div>
      <div class="orders__card">
        <span class="orders__card-num">3.</span>
        <div class="d-flex align-items-center gap-3 orders__date-time">
          <span>28.01.2025</span>
          <span>22:02</span>
        </div>
        <div class="orders__card-title flex-fill">
          Худи – Джиган, Artik & Asti, NILETTO
        </div>
        <div
          class="d-flex align-items-center gap-3 gap-lg-4 flex-wrap justify-content-lg-start justify-content-between flex-lg-nowrap orders__card-right"
        >
          <div class="orders__status order-3 order-lg-2">Исполнено</div>
          <button class="btn-reset orders__reject order-lg-3 order-2">
            Отклонить
          </button>
        </div>
      </div>
      <div class="orders__card">
        <span class="orders__card-num">4.</span>
        <div class="d-flex align-items-center gap-3 orders__date-time">
          <span>28.01.2025</span>
          <span>22:02</span>
        </div>
        <div class="orders__card-title flex-fill">
          Худи – Джиган, Artik & Asti, NILETTO
        </div>
        <div
          class="d-flex align-items-center gap-3 gap-lg-4 flex-wrap justify-content-lg-start justify-content-between flex-lg-nowrap orders__card-right"
        >
          <div class="orders__status order-3 order-lg-2">Исполнено</div>
          <button class="btn-reset orders__reject order-lg-3 order-2">
            Отклонить
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
