<section class="screen">
  <div class="container">
    <div
      class="d-flex align-items-start justify-content-center justify-content-lg-between gap-4 flex-wrap"
    >
      <div class="screen__head-info">
        <h1 class="title s-title mb-3 screen__title">Шаблоны экранов</h1>
        <p class="text">
          Вы можете настроить интерактивный экран для вывода на ТВ или
          сценический экран. Экран будет доступен с любого устройства, для этого
          нужно будет открыть его по сгенерированной ссылке.
        </p>
      </div>
      <a href="#" class="button">Создать шаблон</a>
    </div>
    <div class="screen__tamplates">
      <article class="screen__template">
        <a href="#" class="screen__template-gallery mb-3">
          <img src="@img/qr-simple.png" alt="icon" class="screen__template-qr">
          <img src="@img/template-img.jpg" alt="image" class="screen__template-img">
        </a>
        <a href="#" class="m-title mb-3 text-tg d-block w-fit">Шаблон 1</a>
        <div class="d-flex gap-3">
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-pen'></use>
            </svg>
          </a>
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-tv'></use>
            </svg>
          </a>
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-share'></use>
            </svg>
          </a>
          <button class="btn-reset screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-copy'></use>
            </svg>
          </button>
        </div>
      </article>
      <article class="screen__template">
        <a href="#" class="screen__template-gallery mb-3">
          <img src="@img/qr-simple.png" alt="icon" class="screen__template-qr">
          <img src="@img/template-img.jpg" alt="image" class="screen__template-img">
        </a>
        <a href="#" class="m-title mb-3 text-tg d-block w-fit">Шаблон 1</a>
        <div class="d-flex gap-3">
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-pen'></use>
            </svg>
          </a>
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-tv'></use>
            </svg>
          </a>
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-share'></use>
            </svg>
          </a>
          <button class="btn-reset screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-copy'></use>
            </svg>
          </button>
        </div>
      </article>
      <article class="screen__template">
        <a href="#" class="screen__template-gallery mb-3">
          <img src="@img/qr-simple.png" alt="icon" class="screen__template-qr">
          <img src="@img/template-img.jpg" alt="image" class="screen__template-img">
        </a>
        <a href="#" class="m-title mb-3 text-tg d-block w-fit">Шаблон 1</a>
        <div class="d-flex gap-3">
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-pen'></use>
            </svg>
          </a>
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-tv'></use>
            </svg>
          </a>
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-share'></use>
            </svg>
          </a>
          <button class="btn-reset screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-copy'></use>
            </svg>
          </button>
        </div>
      </article>
      <article class="screen__template">
        <a href="#" class="screen__template-gallery mb-3">
          <img src="@img/qr-simple.png" alt="icon" class="screen__template-qr">
          <img src="@img/template-img.jpg" alt="image" class="screen__template-img">
        </a>
        <a href="#" class="m-title mb-3 text-tg d-block w-fit">Шаблон 1</a>
        <div class="d-flex gap-3">
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-pen'></use>
            </svg>
          </a>
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-tv'></use>
            </svg>
          </a>
          <a href="#" class="screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-share'></use>
            </svg>
          </a>
          <button class="btn-reset screen__template-btn">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-copy'></use>
            </svg>
          </button>
        </div>
      </article>
    </div>
  </div>
</section>