<section class="screen">
  <div class="container">
    <div
      class="d-flex align-items-start justify-content-center justify-content-lg-between gap-4 flex-wrap"
    >
      <div class="screen__head-info">
        <h1 class="title s-title mb-3 screen__title">Шаблоны экранов</h1>
        <p class="text">
          Вы можете настроить интерактивный экран для вывода на ТВ или
          сценический экран. Экран будет доступен с любого устройства, для этого
          нужно будет открыть его по сгенерированной ссылке.
        </p>
      </div>
      <a href="#" class="button">Создать шаблон</a>
    </div>
    <div
      class="d-flex flex-column justify-content-center align-items-center text-center screen__empty"
    >
      <div class="text mb-4">Пока нет ни одного шаблона</div>
      <a href="#" class="button _yellow">Создать</a>
    </div>
  </div>
  <img src="@img/tv-purple.png" alt="icon" class="stirring-el screen__tv">
</section>