<section class="sys-pay s-baza section-parallax">
  <img
    src="@img/spiral-y.png"
    alt="background"
    data-duration="50"
    class="sys-pay__bg position-absolute section-parallax-el"
  />
  <img src="@img/face-women.png" alt="face" class="sys-pay__face position-absolute">
  <div class="container">
    <div class="text-center mx-auto sys-pay__body position-relative">

      <img src="@img/flash-cian.png" alt="icon" class="stirring-el sys-pay__flash-lc position-absolute">
      <img src="@img/flash-magenta.png" alt="icon" class="stirring-el sys-pay__flash-lm position-absolute">
      <img src="@img/percent-25.png" alt="icon" class="stirring-el sys-pay__percent-b position-absolute">
      <img src="@img/heart-star.png" alt="icon" class="stirring-el sys-pay__heart-star position-absolute">
      <img src="@img/cloud.png" alt="icon" class="stirring-el sys-pay__cloud position-absolute">
      <img src="@img/percent-75.png" alt="icon" class="stirring-el sys-pay__percent-c position-absolute">
      <img src="@img/flash-magenta.png" alt="icon" class="stirring-el sys-pay__flash-rm position-absolute">
      <img src="@img/flash-cian.png" alt="icon" class="stirring-el sys-pay__flash-rc position-absolute">


      <h2 class="title s-title mb-2">Гибкая система оплаты</h2>
      <p class="text sys-pay__content mb-4 mx-auto">
        Установите <span class="text-magenta">фиксированную плату</span> за
        заказ, определяйте
        <span class="text-robin">индивидуальную стоимость</span> для каждого
        заказа или же предоставьте гостям возможность
        <span class="text-red">самостоятельно назначать сумму</span>
        вознаграждения.
      </p>
      <a href="#" class="button mx-auto">Начать бесплатно</a>
    </div>
  </div>
</section>
