.btn-reset {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  color: inherit;
}

.button {
  @include flex-center;
  border: none;
  outline: none;
  box-shadow: 8px 8px 0px 0px #000;
  background-color: var(--magenta);
  min-height: 58px;
  border-radius: 8px;
  text-align: center;

  padding: 8px 24px;
  font-size: 20px;
  color: black;
  font-weight: 700;
  transition: color .2s ease, background-color .2s ease;

  @include hover {
    background-color: var(--cian);
  }
  @include pressed {
    background-color: white !important;
  }

  // sizes
  &._min {
    min-height: 36px;
    font-size: 16px;
  }

  // colors
  &._white {
    background-color: white;
    @include hover {
      background-color: var(--cian);
    }
    @include pressed {
      background-color: var(--magenta) !important;
    }
  }

  // variants
  &._outline {
    border: 3px solid black;
  }

  @include tablet {
    font-size: 16px;
    min-height: 44px;
  }
}
