.input-control {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  outline: none;
  border-radius: 8px;
  border: 2px solid black;
  background: white;
  width: 100%;
  background-color: white;
  padding: 12px 35px 12px 20px;

  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  transition: border-color 0.2s ease;

  @include hover {
    border-color: var(--tg);
  }
  @include tablet {
    line-height: 20px;
  }

  &:focus {
    border-color: var(--cian);
  }

  &._pe-normal {
    padding-right: 20px;
  }

  &[disabled] {
    &::placeholder {
      opacity: 0.3;
    }

    .passowrd-btn {
      opacity: 0.3;
    }
  }

  &._error {
    border-color: var(--red) !important;
    background-color: var(--l-red) !important;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }

  &._big {
    font-size: 20px;
    line-height: 24px;

    padding-top: 15px;
    padding-bottom: 15px;

    @include tablet {
      font-size: 16px;
      line-height: 20px;
      padding-top: 13px;
      padding-bottom: 13px;
    }

    & + .input-type {
      font-size: 20px;
      line-height: 24px;
      @include tablet {
        font-size: 16px;
      }
    }
  }
}
textarea.input {
  resize: none;
}

.password-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("@img/eye-close.svg") center / 100% auto no-repeat;
  transition: opacity 0.2s ease;
  @include hover {
    opacity: 0.7;
  }

  &._active {
    background: url("@img/eye.svg") center / 100% auto no-repeat;
  }
}

.input-type {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: black;
  right: 20px;
}
.input-copy {
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  right: 20px;
  color: black;
  transition: color 0.2s ease;
  @include hover {
    color: var(--magenta);
  }
  @include pressed {
    color: var(--cian);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.input-radio {
  display: none;
  &:checked + label {
    &::after {
      display: block;
    }
  }
  &[disabled] + label {
    pointer-events: none;
    color: var(--gray);
    &::before {
      border-color: var(--gray);
    }
  }
}
.btn-radio {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 48px;

  @include tablet {
    padding-left: 40px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    border-radius: 50%;
  }
  &::before {
    width: 32px;
    height: 32px;
    left: 0;
    border: 2px solid var(--yellow);
    @include tablet {
      width: 24px;
      height: 24px;
    }
  }
  &::after {
    width: 16px;
    height: 16px;
    background-color: var(--yellow);
    left: 8px;
    display: none;
    @include tablet {
      width: 12px;
      height: 12px;
      left: 6px;
    }
  }
}