.nav-links {
  @include laptop-middle {
    margin: 0 -20px;
    padding: 0 20px;
  }
  &__btn {
    display: block;
    position: relative;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    transition: color 0.2s ease;
    @include hover {
      color: var(--yellow);
    }
    @include tablet {
      font-size: 16px;
      padding: 16px 12px;
    }
  
    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      background-color: currentColor;
    }
    &::before {
      height: 4px;
      opacity: 0;
      transition: opacity 0.2s ease;
      z-index: 2;
    }
    &::after {
      height: 1px;
      z-index: 1;
    }
  
    &._active {
      color: var(--yellow);
      &::before {
        opacity: 1;
      }
    }
  }
}