.pagination-arrow {
  @include flex-center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: var(--yellow);
  flex-shrink: 0;
  transition:
    color 0.2s ease,
    border-color 0.2s ease;
  @include hover {
    border-color: var(--yellow);
  }

  &._disabled {
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.3);
  }

  svg {
    width: 24px;
    height: 24px;
  }

  &._prev {
    svg {
      transform: rotate(90deg);
    }
  }
  &._next {
    svg {
      transform: rotate(-90deg);
    }
  }

  @include tablet {
    width: 48px;
    height: 48px;
  }
}
.pagination-item {
  @include flex-center;
  width: 64px;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  flex-shrink: 0;
  line-height: 30px;
  transition: color 0.2s ease;
  &._active {
    color: var(--yellow);
  }
  @include hover {
    color: var(--yellow);
  }
  @include tablet {
    width: 48px;
    height: 48px;

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
  }

  @include last(2) {
    display: none;
  }
}
