.text {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;

  @include tablet {
    font-size: 16px;
    line-height: 20px;
  }

  a {
    position: relative;
    @include hover {
      &::before {
        background-color: var(--magenta);
      }
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 4px;
      height: 100%;
      background-color: var(--tg);
      border-radius: 4px;
      z-index: -1;
      transition: background-color .2s ease;
    }
  }
}
