.title {
  font-family: "Unbounded", sans-serif;
  margin: 0px 0px 20px 0px;
}

.main-title {
  font-size: 56px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2.24px;
  @include laptop-middle {
    font-size: 48px;
  }
  @include laptop-min {
    font-size: 36px;
  }
  @include tablet {
    font-size: 26px;
    letter-spacing: 1.04px;
  }

  span {
    color: var(--magenta);
  }
}

.s-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 1.6px;
  @include laptop {
    font-size: 32px;
  }
  @include laptop-min {
    font-size: 26px;
  }
  @include tablet {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.8px;
  }
}
.s-title-m {
  font-size: 40px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 1.6px;
  @include laptop {
    font-size: 32px;
  }
  @include laptop-min {
    font-size: 26px;
  }
  @include tablet {
    font-size: 26px;
    letter-spacing: 1.04px;
  }
}

.t-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  @include laptop-min {
    font-size: 24px;
  }
  @include tablet {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.8px;
  }

  &._m-mobile {
    @include mobile {
      font-size: 18px;
      font-weight: 600;
      line-height: 140%;
    }
  }
  &._s-mobile {
    @include mobile {
      font-family: "Unbounded", sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.8px;
    }
  }
}

.m-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  @include laptop-min {
    font-size: 20px;
  }
  @include tablet {
    font-size: 18px;
  }
}

.f-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  @include tablet {
    line-height: 150%;
    font-size: 20px;
    letter-spacing: 0.8px;
  }
}

.min-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  @include tablet {
    font-size: 18px;
    font-weight: 600;
  }
}
