.video {
  @include flex-center;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid var(--yellow);

  &._played {
    .video__btn {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__main {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__btn {
    position: absolute;
    cursor: pointer;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: url("@img/play-triangle.svg") center left calc(50% + 2px) / 20px
      auto no-repeat;
    background-color: white;
    z-index: 1;
    transition:
      background-color 0.2s ease,
      opacity 0.2s ease;
    @include hover {
      background-color: var(--yellow);
    }
    @include laptop-middle {
      width: 45px;
      height: 45px;
      background-size: 15px auto;
    }
  }
}
