.burger {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--yellow);
  overflow-y: auto;
  color: black;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  pointer-events: none;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    transform 0.4s ease;

  &._open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
  &._black {
    background-color: black;
    color: white;
  }

  &__list {
    a {
      font-family: "Unbounded", sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0.8px;
      transition: color 0.2s ease;
      @include hover {
        color: var(--magenta);
      }
    }
  }
  &__buttons {
    width: 100%;
    padding-bottom: 30px;
  }
  &__btn {
    width: 100% !important;
  }
  &__line {
    margin: 40px 0px;
    height: 2px;
    flex-shrink: 0;
    width: 100%;
    background-color: var(--magenta);
  }
  &__footer {
    margin-top: 20px;
    padding: 45px 18px 30px 18px;
    background-color: white;
    color: black;
  }
  &__profile {
    display: flex;
    align-items: center;
    gap: 16px;

    font-size: 16px;
    font-weight: 700;
  }
  &__profile-icon {
    width: 40px;
    height: 40px;
  }
}
